# Python cache and bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/

# Excel or CSV output files
*.xlsx
*.csv

# Configs containing credentials
config.ini
  git config --global user.email "you@example.com"
  git config --global user.name "Your Name"